{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <a href="{% url 'add_contracts' %}" class="btn btn-primary mb-3">Add</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Client</th>
          <th scope="col">Contact de vente</th>
          <th scope="col">Montant</th>
          <th scope="col">Reste</th>
          <th scope="col">Date de création</th>
          <th scope="col">Signé</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for contract in contracts %}
          <tr class="table-row" data-href="{% url 'detail_contracts' contract.id %}">
            <td>{{ contract.client.complete_name }}</td>
            <td>{{ contract.sale_contact }}</td>
            <td>{{ contract.amount }}</td>
            <td>{{ contract.rest }}</td>
            <td>{{ contract.creation_date }}</td>
            <td>{{ contract.status }}</td>
            <td>
              <a href="{% url 'update_contracts' contract.id %}" class="btn btn-primary">Modifier</a>
              <form action="{% url 'delete_contracts' contract.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">X</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">Retour</a>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const tableRows = document.querySelectorAll(".table-row");
      tableRows.forEach(function(row) {
        row.addEventListener("click", function() {
          const url = this.dataset.href;
          window.location.href = url;
        });
      });
    });
  </script>
{% endblock %}
