<html>
    <head>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <title>EpicEvents</title>
        
    </head>
    <body>
        <h1>EpicEvents</h1>
        
        <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <p>{{ message }}</p>
                    <form method="post">
                        {% for field in form %}
                            <div class="form-floating">
                            {{ field }}
                            {{ field.label_tag }}
                            </div>
                        {% endfor %}
        
                        {% csrf_token %}
                        <button class="btn btn-primary w-100 py-2" type="submit">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>