{% extends 'base.html' %}
{% block content %}
  <ul class="list-group col-lg-6 col-xxl-4 my-5 mx-auto">
    <li class="list-group-item list-group-item-action"><strong>Nom d'utilasateur :</strong> {{ staff.username }}</li>
    <li class="list-group-item list-group-item-action"><strong>Prénom :</strong> {{ staff.first_name }}</li>
    <li class="list-group-item list-group-item-action"><strong>Nom de famille :</strong> {{ staff.last_name }}</li>
    <li class="list-group-item list-group-item-action"><strong>Email :</strong> {{ staff.email }}</li>
    <li class="list-group-item list-group-item-action"><strong>Rôle :</strong> {{ staff.role }}</li>
  </ul>
  <a href="{% url 'staff' %}" class="btn btn-primary mb-3">Retour</a>
{% endblock %}