{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <a href="{% url 'add_staff' %}" class="btn btn-primary mb-3">Add</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nom d'utilisateur</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom de famille</th>
          <th scope="col">Email</th>
          <th scope="col">Rôle</th>
          <th scope="col">Actions</th> <!-- colonne pour les actions -->
        </tr>
      </thead>
      <tbody>
        {% for staff in staff %}
        <tr class="table-row" data-href="{% url 'detail_staff' staff.id %}">
            <td>{{ staff.username }}</td>
            <td>{{ staff.first_name }}</td>
            <td>{{ staff.last_name }}</td>
            <td>{{ staff.email }}</td>
            <td>{{ staff.role }}</td>
            <td>
              <!-- Condition de modification -->
              {% if perms.custom_cms_auth.change_user %}
                <a href="{% url 'update_staff' staff.id %}" class="btn btn-primary">Modifier</a>
              {% else %}
                <a href="#" class="btn btn-primary" disabled >Modifier</a>
              {% endif %}
              <!-- Condition de suppression -->
              {% if perms.custom_cms_auth.delete_user %}
                <form action="{% url 'delete_staff' staff.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">X</button>
                </form>
              {% else %}
                <p></p>
              {% endif %}

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">Retour</a>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const tableRows = document.querySelectorAll(".table-row");
      tableRows.forEach(function(row) {
        row.addEventListener("click", function() {
          const url = this.dataset.href;
          window.location.href = url;
        });
      });
    });
  </script>
{% endblock %}
