{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <a href="{% url 'add_staff' %}" class="btn btn-primary mb-3">Add</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom d'utilisateur</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom de famille</th>
          <th scope="col">Email</th>
          <th scope="col">Rôle</th>
          <th scope="col">Actions</th> <!-- colonne pour les actions -->
        </tr>
      </thead>
      <tbody>
        {% for staff in staff %}
          <tr>
            <td>{{ staff.username }}</td>
            <td>{{ staff.first_name }}</td>
            <td>{{ staff.last_name }}</td>
            <td>{{ staff.email }}</td>
            <td>{{ staff.role }}</td>
            <td>
              <a href="{% url 'update_staff' staff.id %}" class="btn btn-primary">Modifier</a> <!-- Lien de modification -->
              <form action="{% url 'delete_staff' staff.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">X</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
