{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <a href="{% url 'add_customers' %}" class="btn btn-primary mb-3">Add</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom complet</th>
          <th scope="col">Email</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Nom de l'entreprise</th>
          <th scope="col">Date de création</th>
          <th scope="col">Date de mise à jour</th>
          <th scope="col">Contact de vente</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
          <tr>
            <td>{{ customer.complete_name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.company_name }}</td>
            <td>{{ customer.creation_date }}</td>
            <td>{{ customer.update_date }}</td>
            <td>{{ customer.sale_contact }}</td>
            <td>
              <a href="{% url 'update_customers' customer.id %}" class="btn btn-primary">Modifier</a>
              <form action="{% url 'delete_customers' customer.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">X</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
