{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <a href="{% url 'add_events' %}" class="btn btn-primary mb-3">Add</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Client</th>
          <th scope="col">Contrat</th>
          <th scope="col">Nom de l'événement</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Contact de support</th>
          <th scope="col">Emplacement</th>
          <th scope="col">Nombre de participants</th>
          <th scope="col">Notes</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr class="table-row" data-href="{% url 'detail_events' event.id %}">
            <td>{{ event.client.complete_name }}</td>
            <td>ID: {{ event.contract.id }}</td>
            <td>{{ event.event_name }}</td>
            <td>{{ event.date_start }}</td>
            <td>{{ event.date_end }}</td>
            <td>{{ event.support_contact }}</td>
            <td>{{ event.location }}</td>
            <td>{{ event.attentees }}</td>
            <td>{{ event.notes }}</td>
            <td>
              <!-- Condition modifier-->
              {% if perms.events_management.change_event %}
                <a href="{% url 'update_events' event.id %}" class="btn btn-primary">Modifier</a>
              {% else %}
                <p> - </p>
              {% endif %}
              <!-- Condition supprimer -->
              {% if perms.events_management.delete_event %}
                <form action="{% url 'delete_events' event.id %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">X</button>
                </form>
              {% else %}
                <p></p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">Retour</a>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const tableRows = document.querySelectorAll(".table-row");
      tableRows.forEach(function(row) {
        row.addEventListener("click", function() {
          const url = this.dataset.href;
          window.location.href = url;
        });
      });
    });
  </script>
{% endblock %}
