{% load static %}
<html>
  <head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>EpicEvents</title>
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
  </head>
  <body>
    
    {% include 'components/navbar.html' %}
    
    <div class="main-container">
        <h5 class="user-id mt-4" >User : <strong>{{ user.username}}</strong> - role: {{ user.role }}</h5>
        {% block content %}
        {% endblock content %}

    </div>
  </body>
</html>
